body{
    margin: 0;
    background-color:  rgb(229, 234, 235);
}

.Login_outer{
    background-color:  rgb(229, 234, 235);
    height: 100vh;
    width:100%;
    }
    .outer_row1{
    background-color: rgb(229, 234, 235);
    height: 65vh;
    width:100%;
    margin-top:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .outer_row2{
    background-color:  rgb(229, 234, 235);
    height: 40vh;
    width: 100%;
    }
    .outer_row11{
    background-color: aliceblue;
    border-radius: 10px;
    height: 60vh;
    width: 35%;
    }
    .outer_row11_inner1{
    padding-top: 2px;
    padding-left: 40%;
    display: flex;
    flex-direction: row;
    }
    .outer_row11_inner1 img{
    margin-top: 7px;
    height: 30px;
    }
    .outer_row11_inner1 label{
    margin-top: -5px;
    }
    .outer_row11_inner2{
    margin-top: -11px;
    margin-left: 20px;
    }
    .outer_row11_inner2 label{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    padding-top: -10px;
    }
    .outer_row11_inner3,
    
    .outer_row11_inner4,
    .outer_row11_inner5,
    .outer_row11_inner6
    {
    margin-left: 20px;
    margin-top: 20px;
    }
    .outer_row11_inner3 input,
    .outer_row11_inner4 input{
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 85%;
    padding: 9px;
    outline: none;
    }
    .outer_row11_inner5{
    display: flex;
    flex-direction: row;
    font-size: small;
    }
    .outer_row11_inner5 input{
    margin-top: 0px;
    }
    .outer_row11_inner51{
    margin-left: 30%;
    color: blueviolet;
    }
    .outer_row11_inner6 button{
    width: 85%;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 9px;
    background-color: blueviolet;
    color: azure;
    }
    .outer_row2{
    display: flex;
    justify-content: center;
    }
    .signuptext{
        margin-left: 10px;
        color: blueviolet;
    }
    